.self__image {
    grid-area: img;
    height: 450px;
    position: relative;
    z-index: 2;
}

.self__image {
    box-shadow: var(--bs);
}

.tile__intro {
    width: 100%;
    background-color: var(--clr-tile);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.intro__section {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.intro__subtitle {
    background-color: var(--clr-main);
    color: var(--clr-light);
    text-align: left; 
    padding-left: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.icon svg {
    font-size: 60px;
    margin: 5px;
    color: black;   
  }

@media (min-width: 800px) {
    .intro {
        flex-direction: row;
    }

    .intro__section {
        padding-left: 2em;
        padding-top: 0em;
    }
}