.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-main);
    height: 2em;
    font-size: 1em;
    font-style: italic;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

@media (max-width: 800px) {
    .nav__list {
        width: 270px;
    }
}


.nav__link {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: auto;
}